sentence_transformers
pytorch
keybert

# If you are running this program on Windows, you may consider installing the following packages
pyreadline3   # for history support in the command line on Windows

