aiohttp
colorama
tiktoken
shutils
attrs
paramiko
trafilatura
EdgeGPT
pandas
# Below are the ones that are optional and they are too big to be installed by default
# sentence_transformers
# torch
# keybert
